<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav>
        <div id="site-title">
            <a href="/">
                <h1>Gamecard</h1>
            </a>
        </div>
        <div id="path">
            <a class="current" href="/">Explore</a>
            <a href="/about">About</a>
            <a href="/create">Create</a>
        </div>
    </nav>

    <div>
        <h1>Explore:</h1>
    </div>

    <div class="sidenav">
        <h3>Games</h3>
        <a href="#about">Latest releases</a>
        <a href="#about">Highest rated</a>
        <a href="#about">Coming soon</a>
        <h3>Game creators</h3>
        <a href="#services">Most popular</a>
        <a href="#services">New to the industry</a>
        <h3>Leaderboard</h3>
        <a href="#contact">Highest karma</a>
      </div>
    
    <% for (let i = 0; i < posts.length; i++) { %> 
    <div class="posts">
        <p id="time"><%= posts[i].createdAt %> </p>
        <h2><%= posts[i].title %></h2>
        <p><%= posts[i].text %></p>
    </div>
    <% } %>

    <%- include("./partials/footer.ejs") %>
</body>
</html>